In [ ]:
!pip install opendatasets
import opendatasets as od
import pandas as pd

Requirement already satisfied: opendatasets in /usr/local/lib/python3.7/dist-packages (0.1.20)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from opendatasets) (4.62.3)
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (from opendatasets) (1.5.12)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from opendatasets) (7.1.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2021.10.8)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.24.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (3.0.4)

In [ ]:
od.download("https://www.kaggle.com/saikrishnadupp/top3000-imdb-indian-movies")
#grzybu;bf29fd54c80b0f9e2690029e9768b935
bollywood = pd.read_csv('/content/top3000-imdb-indian-movies/Top3000_imdb_indian_movies.csv')

Skipping, found downloaded files in "./top3000-imdb-indian-movies" (use force=True to force download)

In [ ]:
bollywood.columns

Index(['Title', 'Date_of_Release', 'Genre', 'Crew_dir', 'Cast_stars',
       'Plot_summary', 'Age_of_content', 'Votes', 'ImDBRating'],
      dtype='object')

In [ ]:
#DATA PREPROCESSING
bollywood.dropna(subset=['Crew_dir'], inplace=True)

In [ ]:
bollywood.groupby(['Title']).size().reset_index(name='counts').query('counts > 1')

                  Title  counts
57      Aa Gale Lag Jaa       2
61                Aadmi       2
64                  Aag       2
69                Aaina       2
77              Aakrosh       2
...                 ...     ...
2604    Tere Mere Sapne       2
2716  Tumsa Nahin Dekha       2
2720              Udaan       2
2876             Zameer       2
2877            Zanjeer       2

[94 rows x 2 columns]

In [ ]:
bollywood.groupby(['Crew_dir']).mean().drop(columns=['Date_of_Release'])

                                  Age_of_content        Votes  ImDBRating
Crew_dir
"    Director:Anthony D'Souza"          8.333333  7015.000000    4.833333
"    Director:Eros D'Antona", "         6.000000   210.000000    6.100000
"    Director:Jasmine D'Souza"          5.000000  1215.000000    3.100000
"    Director:Lawrence D'Souza"        25.333333  1105.555556    4.644444
"    Director:Nabh Kumar 'Raju'"       22.000000   500.000000    5.300000
...                                          ...          ...         ...
ven Bhojani                             4.000000  3149.000000    5.300000
ven Verma                              43.000000   122.000000    5.400000
vendra Goel                            52.000000   220.000000    6.600000
vika Bhagat                             7.000000   734.000000    4.200000
vya Khosla Kumar                        6.000000  3142.000000    2.950000

[1300 rows x 3 columns]